//////////////////////////////
// !THEME / COMPONENTS / FORMS
//////////////////////////////


// Legend
.unk .dcf-legend {
  @include mb-1;
}


// Form group:
.unk .dcf-form-group {
  @include mb-5;

	&.dcf-d-flex {
		flex-wrap: wrap;
	}

	&>*:not(label):not(legend):not(:first-child) {
		@include ml-0;
	}

	// no margin left when form elements are column-wise
	&.dcf-flex-col {
		&>*:not(label):not(legend):not(:first-child) {
			@include ml-0;
		}
	}
}

@include mq(731px, min, width) {
	.unk .dcf-form-group {
		&.dcf-d-flex {
			flex-wrap: nowrap;
		}

		// margin left on wider screens
		&>*:not(label):not(legend):not(:first-child) {
			@include ml-4;
		}
	}
}


// Form group and form with input group
//.unk .dcf-form-group,
//.unk .dcf-input-group-form {
//  margin-top: -#{ms(-12)}em; // Apply negative margin-top to equalize label margin-top
//}


// Label
.unk .dcf-label {
  margin-top: #{ms(-12)}em;
}

.unk .dcf-form-group[disabled] label {
	cursor: not-allowed !important;
	opacity: .7;
}

.unk .dcf-form-group input[disabled] ~ label {
	cursor: not-allowed !important;
	opacity: .7;
}


// Input
.unk .dcf-form-group input ~ label {
	@include ml-2;
}



// Input: Control
.unk .dcf-input-control {
  @include mr-1;
}


// Input: File
.unk .dcf-input-file {
	border-radius: $roundrect;
	border: 1px solid;
	border-color: $color-border;
	width: 100%;
}


// Required
.unk .dcf-required {
  color: $red;
  @include txt-xs;
  @include pl-1;
}

// Input: Submit
.unk .dcf-input-submit {
	background-color: $gray-lightest;
	border-color: $color-border;
	text-transform: uppercase;
	min-width: min-content;
	max-width: 50vw;
}


// Input: Range
.unk .dcf-input-range {

}


// Form Help
.unk .dcf-form-help {
  color: $color-light-text;
  @include txt-xs;
  @include mt-1;
}


// Inputs
//.unk .dcf-label + .dcf-input-text,
//.unk .dcf-label + .dcf-input-select,
//.unk .dcf-label + .dcf-input-group {
//  margin-top: #{ms(-12)}em;
//}
