///////////////////////////////
// !THEME / COMPONENTS / HEADER
///////////////////////////////

.unk {
	.dcf-header {
		background-color: $color-brand-alpha;
		border-bottom: 4px solid $color-brand-beta;
		box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.35);

		&-global {
			display: flex;
			flex-flow: column wrap;
			align-items: flex-start;
		}

		.search-nav-togl-wrapper {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
		}

		.dcf-search {
			flex: 0 1 90%;
			width: 90%;
			background-color: white;
		}

		.dcf-nav-menu-toggle-btn {
			flex: 0 1 3%;
			min-width: 2em;
			width: 3%;
		}
	}

	.dcf-header-global {
		display: block;
	}
}


@include mq(731, min, width) {
	.unk {
		.dcf-header {
			.dcf-search {
				flex: 1;
				width: 100%;
			}

			.dcf-header-global {
				@include pt-6;
				@include clearfix;
			}

			.search-nav-togl-wrapper {
				width: 28%;
				float: right;
			}

			.dcf-nav-global {
				float: right;
				clear: right;
			}

			.dcf-nav-local {
				float: right;
				clear: both;
			}
		}

		@supports (grid-area: auto) {
			.dcf-header-global {
				display: grid;
				grid-gap: $length-em-2 $length-em-2;
				grid-template:
								"logo logo logo logo .        .               .             search        search        search" minmax($length-em-5, $length-em-6)
								"logo logo logo logo .        nav-secondary   nav-secondary nav-secondary nav-secondary nav-secondary" minmax($length-em-5, $length-em-6)
								"nav-primary nav-primary nav-primary nav-primary nav-primary nav-primary nav-primary nav-primary nav-primary nav-primary" minmax($length-em-8, auto)
          / 1fr 1fr 1fr minmax($length-em-9, 1.5fr) 0.5fr 1fr 1fr 1fr 1fr 1fr ;
			}

			.dcf-header-global::after {
				@include absolute;
			}

			.logo-desktop {
				grid-area: logo;
			}

			.dcf-nav-global {
				grid-area: nav-secondary;
			}

			.search-nav-togl-wrapper {
				grid-area: search;
				width: 100%;
				@include mb-4;
			}

			.dcf-nav-local {
				grid-area: nav-primary;
			}

			.dcf-header .search-nav-togl-wrapper {
				width: auto !important
			}
		}
	}
}

@media (min-width: _mq-em(731px)) and (max-width: _mq-em(800px)) {
	// accommodate local header font size between these ranges before hidden in hamburger menu
	.unk .dcf-header .dcf-nav-global {
		font-size: calc(0.479em + 1vw);
	}
}

@include mq(1126, min, width) {
	.unk {
		.dcf-header-global {
			height: 100%;
		}

		.dcf-header .dcf-nav-global {
			clear: none;
		}

		.dcf-header .dcf-nav-local {
			clear: none;
		}

		.dcf-header .search-nav-togl-wrapper {
			width: 20%;
			float: right;
			@include ml-4;
		}

		@supports (grid-area: auto) {
			.dcf-header-global {
				grid-template:
								"logo logo logo logo nav-secondary nav-secondary   nav-secondary nav-secondary nav-secondary nav-secondary search      search" minmax($length-em-5, $length-em-5)
								"logo logo logo logo nav-primary nav-primary nav-primary   nav-primary   nav-primary   nav-primary   nav-primary nav-primary" minmax($length-em-5, auto)
      / 1fr 1fr 1fr 0.4fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

			}
		}
	}
}