/////////////////////////////////////////
// !THEME / COMPONENTS / FORMS - PROGRESS
/////////////////////////////////////////

.unk .dcf-input-progress[value] {
	//
	//border: 1px solid;
	height: $length-em-4;
	//border-color: $color-border;
	-webkit-appearance: none;
	-moz-appearance: none;

	&::-webkit-progress-bar {
		background-color: $gray-lightest;
		border-radius: $roundrect;
		box-shadow: inset 0 1px 2px fade-out($color-border,0.1);
	}

	&::-webkit-progress-value {
		background-color: $color-brand-beta;
		background-image:
						-webkit-linear-gradient(-45deg, transparent 33%, fade_out($black, 0.8) 33%, fade_out($black, 0.8) 66%, transparent 66%),
						-webkit-linear-gradient(top, fade_out($gray-light, 0.9), fade_out($gray-light, .9)),
						-webkit-linear-gradient(left, $color-brand-alpha, $color-brand-beta);
		background-size: 35px 20px, 100% 100%, 100% 100%;
		animation: progressAnimate infinite linear 3s;
		border-radius: $roundrect;
		box-shadow: 2px 0 3px 0 fade-out($gray-light, 0.25);
	}

	&::-webkit-progress-inner-element {

	}
}

.dcf-progress-bar {
	background-color: $gray-lightest;
	border-radius: $roundrect;
	border: 1px solid;
	border-color: $color-border;
	box-shadow: inset 0 1px 2px fade-out($color-border,0.1);
	width: 20em;
	height: $length-em-6;
	position: relative;

	.progress-indicator {
		width: 25%;
		overflow:hidden;
		background-image:
						-webkit-linear-gradient(-45deg, transparent 33%, fade_out($black, 0.8) 33%, fade_out($black, 0.8) 66%, transparent 66%),
						-webkit-linear-gradient(top, fade_out($gray-light, 0.9), fade_out($gray-light, .9)),
						-webkit-linear-gradient(to right, $color-brand-alpha 0%, $color-brand-beta 50%, $color-brand-alpha 100%);
		background-size: 50px 100%, 100% 100%, 100% 100%;
		animation: progressAnimate infinite linear 3s;

	}

	.progress-label {
		position: absolute;
	}
}

@keyframes progressAnimate {
	100% { background-position: -100px 0px; }
}