//////////////////////////////
// !THEME / COMPONENTS / FORMS
//////////////////////////////


// Legend
.unk .dcf-legend {
  @include mb-1;
}


// Form group
.unk .dcf-form-group {
  @include mb-5;

	&>*:not(label):not(legend):not(:first-child) {
		@include ml-4;
	}

	// no margin left when form elements are column-wise
	&.dcf-flex-col {
		&>*:not(label):not(legend):not(:first-child) {
			@include ml-0;
		}
	}
}


// Form group and form with input group
.unk .dcf-form-group,
.unk .dcf-input-group-form {
  margin-top: -#{ms(-12)}em; // Apply negative margin-top to equalize label margin-top
}


// Label
.unk .dcf-label {
  margin-top: #{ms(-12)}em;
}

.unk .dcf-form-group[disabled] label {
	cursor: not-allowed !important;
	opacity: .7;
}

.unk .dcf-form-group input[disabled] ~ label {
	cursor: not-allowed !important;
	opacity: .7;
}


// Input
.unk .dcf-form-group.dcf-d-flex input {
	&:not([type="radio"]):not([type="select"]):not([type="checkbox"]):not([type="datetime-local"]):not([type="file"]) {
		flex: 0.6;
	}
}

.unk .dcf-form-group input ~ label {
	@include ml-2;
}


// Input: Text
.unk .dcf-input-text, .unk .dcf-input-text-area {
  border: 1px solid $color-border;
  border-radius: $roundrect;
  box-shadow: inset 0 1px 2px fade-out($color-border,0.5);
  @include pb-2;
  @include pl-3;
  @include pr-3;
  @include pt-2;
  transition: border-color $hover-off, box-shadow $hover-off;
}


.unk .dcf-input-text:hover, .unk .dcf-input-text-area:hover {
  border-color: $color-border-hover;
  box-shadow: inset 0 1px 2px fade-out($color-border,.5);
  transition: border-color $hover-on, box-shadow $hover-on;
}


.unk .dcf-input-text:focus, .unk .dcf-input-text-area:focus {
  border-color: $color-button;
  outline: none;
}

// Input: Control
.unk .dcf-input-control {
  @include mr-1;
}


// Input: File
.unk .dcf-input-file {
  @include mb-2;
  @include mt-2;
	border-radius: $roundrect;
	border: 1px solid;
	border-color: $color-border;
}


// Required
.unk .dcf-required {
  color: $red;
  @include txt-xs;
  @include pl-1;
}

// Input: Submit
.unk .dcf-input-submit {
	background-color: $gray-lightest;
	border-color: $color-border;
	text-transform: uppercase;
	min-width: min-content;
	max-width: 50vw;
}


// Input: Range
.unk .dcf-input-range {

}


// Form Help
.unk .dcf-form-help {
  color: $color-light-text;
  @include txt-xs;
  @include mt-1;
}


// Inputs
.unk .dcf-label + .dcf-input-text,
.unk .dcf-label + .dcf-input-select,
.unk .dcf-label + .dcf-input-group {
  margin-top: #{ms(-12)}em;
}
