/////////////////////////////////////////
// !THEME / COMPONENTS / FORMS - PROGRESS
/////////////////////////////////////////

.unk .dcf-input-progress[value] {
	//
	//border: 1px solid;
	height: $length-em-4;
	//border-color: $color-border;
	-webkit-appearance: none;
	-moz-appearance: none;

	&::-webkit-progress-bar {
		background-color: $gray-lightest;
		border-radius: $roundrect;
		box-shadow: inset 0 1px 2px fade-out($color-border,0.1);
	}

	&::-webkit-progress-value {
		background-color: $color-brand-beta;
		background-image:
						-webkit-linear-gradient(-45deg, transparent 33%, fade_out($black, 0.8) 33%, fade_out($black, 0.8) 66%, transparent 66%),
						-webkit-linear-gradient(top, fade_out($gray-light, 0.9), fade_out($gray-light, .9)),
						-webkit-linear-gradient(left, $color-brand-alpha, $color-brand-beta);
		background-size: 35px 20px, 100% 100%, 100% 100%;
		animation: progressAnimate infinite linear 3s;
		border-radius: $roundrect;
		box-shadow: 2px 0 3px 0 fade-out($gray-light, 0.25);
	}

	//&::-webkit-progress-inner-element {
	//
	//}
}

.unk .dcf-progress-bar {
	background-color: $gray-lightest;
	border-radius: $roundrect;
	border: 1px solid;
	border-color: $color-border;
	box-shadow: inset 0 1px 2px fade-out($color-border,0.1);
	width: 100%;
	height: $length-em-6;
	position: relative;

	.dcf-progress-indicator {
		width: 25%;
		overflow:hidden;
		background-image:
						-webkit-linear-gradient(-45deg, mix(white, $color-brand-beta, 70%) 36.5%, fade_out($color-brand-beta, 0.7) 36.5%, fade_out($color-brand-beta, 0.7) 62%, mix(white, $color-brand-beta, 70%) 62%),
						-webkit-linear-gradient(top, fade_out($gray-light, 0.9) 0% , fade_out($gray-light, .9) 100%),
						-webkit-linear-gradient(to left, fade_out(mix(white, $color-brand-beta, 80%), 0.25), fade_out(mix(white, $color-brand-beta, 80%), 0.25));
		background-size: 50px 100%, 100% 100%, 100% 100%;
		animation: progressAnimate infinite linear 3s;

	}

	.dcf-progress-label {
		position: absolute;
		text-shadow: 1px 1px 1px mix(white, $color-brand-beta, 88%);
	}
}

@keyframes progressAnimate {
	100% { background-position: -100px 0px; }
}