///////////////////////////////
// !THEME / COMPONENTS / FOOTER
///////////////////////////////


// !Common Footer Styles

// !Local Footer
// .example .dcf-footer-local {
// }


// !Global Footer
// .example .dcf-footer-global {
// }

.unk {
  .dcf-footer {
    border-top: 2px solid #ccc;
  }

  .dcf-footer-global {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    @include pt-6;
    @include pb-5;

    .students {
      flex: 0.2 1 25%;
      padding-right: 5%;
    }

    .resources {
      flex: 0.2 1 23.4%;
      padding-right: 5%;
    }

    .affiliates {
      flex: 0.2 1 33%;
      padding-right: 2%;
    }

    .contact {
      @include mt-4;
      flex: 0.18 1 100%;
    }
  }

  .footer-header {
    color:  $color-brand-alpha;
    font-weight: normal;
    @include font-bold-cn;
    @include uppercase;
    @include m-0;
    @include txt-lg;
  }

  .footer-text {
    color: $black;
    @include font-cn;
  }

  .footer-link-list li {
    @include mb-3;
    @include lh-2;
  }

  .footer-link-list a {
    color: $black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-link-contact li {
    @include mb-2;
    @include lh-1;
  }

  .footer-link-list.footer-link-contact a, .cms-login, .footer-phone{
    border-bottom: 1px dotted $black;
    text-decoration: none;
    color: $black;

    &:hover {
      border-bottom: none;
      text-decoration: none;
    }
  }

  .contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;

    .footer-header {
      flex: 1 0 100%;
    }

    .contactInfo {

    }

    .social {
      flex: 0 1 100%;
      @include d-flex;
      flex-flow: column wrap;
      align-items: flex-start;
      justify-content: flex-end;
    }

    .univ-logo {
      //width: 54%;
      width: auto !important;
      //flex:1;
      //height: 100%;
      max-width: 9em;
      @include mt-3;
      fill: #555656;
    }

    .social-icons {
      @include mt-5;
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }

    .social-icons a {
      @include d-inline-block;
      width: 8%;
      max-width: 1.8em;
    }

    .social-icons img {
      @include d-block;
    }

    .social-icons a:not(:first-child) {
      margin-left: 7.75%;
    }
  }
}

@include mq(576px, min, width) {
  .unk {
    .contact {
      .univ-logo {
        align-self: flex-end;
        width: 50%;
      }

      .social {
        flex: 1;
      }

      .social-icons {
        justify-content: flex-end;
        @include mt-2;
      }
    }
  }

}

@include mq(731px, min, width) {
  .unk {
    .contact {

    }
  }

}

@include mq(1000, min, width) {
  .unk {
    .dcf-footer-global {
      .students {
        flex: 0 1 17%;
      }

      .resources {
        flex: 0 1 17%;
      }

      .affiliates {
        flex: 0.2 1 17%;
      }

      .contact {
        flex: 0.18 1 39%;
        @include mt-0;
        margin-left: auto;
      }

      .contact .social {
        align-items: flex-start;
      }
    }

    .footer-link-list li {
      @include mb-1;
      line-height: auto;
    }

    .contact .social-icons a {
      width: 14%;;
      max-width: 1.35em;
    }

    .contact .univ-logo {
      width: 58%;
    }
  }
}
